.laNav {
  background-color: black;
  .latitud32 {
    font-family: "Monoton", cursive;
    font-family: "Permanent Marker", cursive;
    color: white;
  }
}

.elFont {
  font-family: "Expletus Sans", cursive;
}
