@import "variables";
@import "navbar";
@import "main";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(92, 92, 92, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

@media (max-width: 768px) {
  .textoEventos {
    text-align: center;
  }
}
